.mat-mdc-outlined-button{
    border-radius: 10px;
}

.filter-topic-name{
    max-width: 500px;
    padding: 2px 20px;
    margin: 10px 0;
    height: 35px;
}

.filter-topic-name:focus{
    outline: none;
}

